

body {
    margin: 0px;
    background-color: #f8f9fa;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
}

.calendar {
    position: relative;
    width: 800px;
    height: 600px;
    border: 1px solid #ddd;
    background: #fff;
    overflow-y: scroll;
}

.time-slot {
    height: 60px;
    border-bottom: 1px solid #DDD;
    display: flex;
    align-items: center;
    padding-left: 10px;
}

.event {
    position: absolute;
    width: 100px;
    color: white;
    border-radius: 4px;
    padding: 2px;
    font-size: 12px;
    cursor: pointer;
    transition: transform 0.1s ease-in;
}

.event:hover {
    transform: scale(1.03);
}